{
  "extends": ["eslint-config-egg/typescript", "prettier", "prettier/@typescript-eslint", "plugin:prettier/recommended"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "bracketSpacing": true,
      "semi": true,
      "arrowParens": "avoid",
      "printWidth": 180,
      "trailingComma": "es5"
    }]
  }
}
